header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background: linear-gradient(rgba(0, 130, 170, 0.5), rgba(0, 130, 170, 0.5));
}

.logo {
  cursor: pointer;
  max-width: 5%;
  height: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #008aa9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
